.contact {

	&__text {
		h1, h2,
		h3, h4, 
		h5, h6 {
			margin-top: 0;
		}

	  	a {
	      position: relative;
	      color: $color-font-body;

	      &:before {
	        width: 100%;
	        background: $red;
	        height: 1px;
	        content: '';
	        position: absolute;
	        bottom: 0;
	        transition: width .3s cubic-bezier(.17,.67,.83,.67);
	      }

	      &:hover::before {
	        width: 0;
	      }
	   }
	}
}

.contact-form {
	color: $white;
	overflow: hidden;
	position: relative;

	&__header {
		margin-top: 0;
	}

	svg {
		position: absolute;
		transform: rotate(85deg);
		opacity: .15;
		max-height: 100%;
	}

	svg path {
		fill: $white;
	}
}