.data-mag {

	&__item {
		margin: .5rem 1rem;
		transition: all ease .3s;
		padding: 1rem;
		color: $blue;
		font-weight: 600;
		width: 100%;

		@include above (sm) {
			margin: 1rem;
		}

		&:hover {

			.data-mag__btn {
				background: $green;
			}
		}

		@include between (xs, sm) {
			width: calc(50% - 2rem);
		}

		@include above (sm) {
			width: calc(33.3% - 2rem);
		}
	}

	&__thumb {
		width: 80px;
		height: 80px;
	}

	&__content {
		margin-top: 1.5rem;
		margin-bottom: 0;
	}

	&__btn {
		margin-top: 2rem;
		font-size: 14px;
		transition: all ease .3s;
	}
}