/********************FOOTER********************/

/*
 * This file should house all of the styles for
 * footer.php.
 */

.footer {
	padding-top: 3rem;
	padding-bottom: 3rem;

	@include above (md) {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	&__item {
		
		p {
			@include above (sm) {
				margin-bottom: 0;
			}
		}

		a {
		 	color: $white;
		 	transition: all ease .3s;

		 	&:hover {
		 		color: $red;
		 	}
		}
	}


	&__title {
		margin-top: 0;
	}
}
