/********************HEADER********************/

/*
 * This file should house all of the styles for
 * header.php.
 */

.header {
  position: relative;
  background: $blue;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
  &__logo {
    display: block;
    float: left;

    img {
      width: 130px;
      height: 31px;
      
      @include above (sm) {
        width: 194px;
        height: 47px;
      }
    }
  }
}