/********************LAYOUTS********************/

/* Base Styles */
.gray-dark--bg, .blue--bg {
  color: $white;
}


/* WYSIWYGs */
.wysiwygs {
  [class^="row-"], [class*=" row-"] { 
    // row-specific styles here
    
  }

  &__title {
    margin-top: 0;  
  }

  &__col {

    a:not(.btn) {
      position: relative;
      color: $color-font-body;

      &:before {
        width: 100%;
        background: $red;
        height: 1px;
        content: '';
        position: absolute;
        bottom: 0;
        transition: width .3s cubic-bezier(.17,.67,.83,.67);
      }

      &:hover::before {
        width: 0;
      }
    }
  	
    h1, h2, 
    h3, h4,
    h5, h6 {

      &:first-child {
        margin-top: 0;
      }
    }

    @include above (sm) {

    	 &.first {
      		p:last-child {
    			   margin-bottom: 0;
    			}
    	 }
    }
  	
  	&.last {
  		p:last-child {
  			margin-bottom: 0;
  		}
  	}
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 4rem;
    }

    &--bottom {
      padding-bottom: 4rem;
    }

    &--both {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }

  @include above (md) {

    &--top {
      padding-top: 5rem;
    }

    &--bottom {
      padding-bottom: 5rem;
    }

    &--both {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}