.link-boxes {
 
	&__header {

	}

	&__item {
		transition: all ease .6s;
		color: $color-font-body;
		display: flex;
		flex-direction: column;

		&:nth-child(2), &:nth-child(5) {
			.link-boxes__content {
				background: #f9f9f9;
			}
		}

		&:nth-child(3), &:nth-child(6) {
			.link-boxes__content {
				background: #f0f0f0;
			}
		}

		@include above (sm) {
			padding: 0;
		}

		&:hover {
			.link-boxes__img {
				transform: scale(1.2);
			}
		}
	}

	&__wrap {
		position: relative;
		overflow: hidden;
	}

	&__img {
		transform: scale(1);
		transition: all ease .6s;
	}

	&__icon {
		background: $red;
		color: $white;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		transform: rotate(-45deg);
		position: absolute;
    	bottom: -2.6rem;
    	right: -3.6rem;

		@include above (sm) {
			font-size: 24px;
			width: 136px;
			height: 106px;
		}

		i {
			transform: rotate(45deg);
			padding-top: 1rem;
			padding-left: .5rem;
		}
	}

	&__title {
		margin-top: 0;
	}

	&__content {
		text-align: center;
		padding: 1rem;
		flex: 1;

		@include above (sm) {
			padding: 3.5rem 1.5rem;
			padding-top: 2rem;
		}
	}

	&__icon {
		
	}

	&__title {

	}
}