/**
 * Navigation
 **/

.nav {

	/**
	 * Mobile menu panel
	 **/

	&__menu {
	    list-style: none;
	    position: absolute;
	    z-index: 100;
	    width: 100%;
	    top: 0px;
	    left: 0;
	    margin: 0;
	    padding: 0;

		@include above (sm) {
			position: relative;
			width: auto;
			top: 0;
			float: right;
			display: block !important;
		}
	}

	&__item {
		list-style: none;
		padding: .5rem 1rem;

		@include above (sm) {
			float: left;
			padding: 1rem .5rem;
			display: inline-block;
		}

		&.is-active > a {
			color: red;
		}

		&.is-dropdown {

			@include above (sm) {
				&:hover {
					.nav__dropdown {
						display: block!important;
					}
				}
			}
		}
	}

	&__link {
		color: $white;
		transition: all ease .3s;

		&:hover {
			color: $red;
		}

		&-icon {
			margin-left: .2rem;
		}
	}

	&__dropdown-trigger {
		
		&:after  {
			content: '\f107';
			font-family: 'Font Awesome 5 Free';
			font-weight: 600;
			color: $red;
		}
	}

	&__dropdown {
		padding: 0;
		top: 100%;
		background: $blue;

		@include above (sm) {
			position: absolute;
			display: none;
		}

		&.is-visible {
			display: block;
		}

		li {
			padding: 0;
			float: none;
			display: block;
		}

		a {
			padding: 0.5rem 1rem;
			white-space: nowrap;
			color: $white;
			display: block;

			&:hover {
				text-decoration: none;
			}
		}
	}
	


	&--mobile {
		
		@include below (sm) {
			position: fixed;
			z-index: 78888;
			top: 63px;
			right: 0;
			height: calc(100% - 63px);
			width: 100%;
			transform: translateX(100%);
			transition: all .6s ease;
			background: $blue;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			&.is-open {
				transform: translateX(0);
			}

			//Fixed body		
			@at-root {
				body.is-fixed {					
					overflow: hidden;
					position: fixed;
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	/**
	 * Mobile menu toggle
	 **/

	&-toggle {
		display: block;
		position: absolute;
		z-index:  88888;
		top: 50%;
		right: 1rem;
		transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		@include above (sm) {
			display: none;
		}

		&__label {
			color: $white;
			font-weight: 600;
			font-size: 12px;
			vertical-align: middle;
			padding-right: .3rem;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 1.5rem;
			height: 3px;
			background: $white;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: $white;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.45rem;
			}

			&::after {
				top: -.45rem; 
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

#menu-footer-nav {
	width: 100%;

	@include below (sm) {
		position: relative;
	}

	.nav__item {
		display: block;
		float: none;
		padding: 0;
	}

	.nav__link {
		position: relative;

		&:hover {
			margin-left: .5rem;
			color: $white;
		}

		i {
			color: $red;
			margin-right: .3rem;
			transition: all ease .3s;
		}
	}
}