.news-feed {
	background: no-repeat center center;
	background-size: cover;
	color: $white;
	position: relative;

	&:before {
		position: absolute;
		width: 100%;
		height: 100%;
		content: '';
		background: rgba($blue, .3);
		top: 0;
		left: 0;
		z-index: 0;
	}

	&__header {
		margin-top: 0;
		position: relative;
		z-index: 1;

		@include above (sm) {
			margin-bottom: 3rem;
		}
	}

	&__item {
		margin-bottom: 1.5rem;
		
		&:last-child {
			margin-bottom: 0;
		}

		@include above (sm) {
			margin-bottom: 0;
		}

		p {
			margin-top: 1.5rem;
		}
	}
}