/********************PAGE********************/

/*
 * This file should house all of the styles for any
 * page template, i.e. page.php or page-{rename}.php.
 */

.page {
  
	&__hero {
		padding-top: 3rem;
		padding-bottom: 3rem;
		background: no-repeat center center;
			background-size: cover;

		@include above (sm) {
			padding-top: 6rem;
			padding-bottom: 6rem;
		}
	}  

	&__title {
		margin-top: 1.5rem;

		@include above (sm) {
			margin-top: 3rem;
		}

		@include above (md) {
			margin-top: 6rem;
		}
	}
}
