.gallery {

	&__title {

	}

	&__list {
	
	}

	&__item {
		margin: 1rem;
		position: relative;

		@include between (xs, sm) {
			width: calc(50% - 2rem);
		}

		@include above (sm) {
			width: calc(25% - 2rem);
		}
	}

	&__link {

		&:before {
			width: 100%;
			height: 100%;
			content: '';
			background: $blue; 
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			transition: opacity .3s;
		}

		&:after {
			content: '\f002';
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			position: absolute;
			color: $red;
			font-size: 24px;
			z-index: 10;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
			transition: opacity .3s;
		}

		&:hover {

			&:before, &:after {
				opacity: .8;
			}
		}
	}

	&__caption {

	}
}
