.btn {
	padding: .6rem 1.5rem;
	display: inline-block;
	position: relative;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;

	&--no-icon {
		padding: .6rem 1.5rem!important;
	}

	&--red {
		background: $red;
		border-radius: 3px;
		color: $white;
		padding-right: 1rem;
		transition: all ease .3s;

		i {
			padding-left: 1.5rem;
			position: relative;

			&:after {
				content: '';
				height: 100%;
				width: 1px;
				background: darken($red, 10%);
				left: .8rem;
				top: 0;
				position: absolute;
				transition: all ease .3s;
			}
		}

		&:hover {
			background: $green;
			
			i {
				&:after {
					background: darken($green, 10%);
				}
			}
		}
	}
}